/*
Caleb Lewandowski
April 28, 2021
bioSite
Last Updated: May 7, 2021
*/

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

p a {
    text-decoration-line: none;
    color: #72f227;
}

p a:hover {
    text-decoration-line: underline;
    color: #f2EE27;
}

p a:visited {
    text-decoration-line: none;
    color: #f2EE27;
}

a {
    text-decoration-line: none;
    color: #f2EE27;
}

a:hover {
    text-decoration-line: none;
    color: #72f227;
}

a:visited {
    text-decoration-line: none;
    color: #72f227;
}

figure {
    text-align: center;
}

figure img {
    width: 100%;
    height: 100%;
}

figcaption {
    font-weight: 300;
}

header {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

header a {
    color: black;
    background-color: white;
}

header a:hover {
    color: black;
    background-color: white;
}

header a:visited {
    color: black;
    background-color: white;
}

footer {
    background-color: #72f227;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 4%;
    margin-top: .5%;
    margin-bottom: 0;
}

#navbar {
    background-color: #72f227;
    text-align: center;
    height: 4%;
    width: 100%;
    margin-bottom: .5%;
}

#navbar a {
    text-decoration-line: none;
    color: black;
    background-color: #f2EE27;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    height: 100%;
    width: 10%;
}

#navbar a:hover {
    text-decoration-line: none;
    background-color: #72f227;
}

#side-left {
    margin: .5%;
    float: left;
    width: 24%;
}

#container {
    margin: .5%;
    float: left;
    width: 49%;
    word-wrap: normal;
}

#side-right {
    margin: .5%;
    float: right;
    width: 24%;
}

.float-right {
    float: right;
    width: 25%;
}